@charset "utf-8";

body{
	margin: 0;
	padding: 0;
}

/*-----------------------------------------PERSONALIZAÇÃO DOS COMPONENTES DIV's-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DOS COMPONENTES DIV's-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DOS COMPONENTES DIV's-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DOS COMPONENTES DIV's-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DOS COMPONENTES DIV's-------------------------------------*/
.divPrincipal{
	width: 440px;
	height: 500px;
	position: absolute;
	margin-left: 30%;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: auto;
	border: 1px solid #000080;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	/*background:green;	*/
}

.divTitulo{
	height: 30px;
	background-color: #000080;
	color: white;
	font-size: 20px;
	text-align: center;
}

.divFiltro{
	height: 120px;
	font-size: 20px;
	text-align: center;
	border: 1px solid #000080;
	
}

.largPrinc{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 1500px;
}

/*-----------------------------------------PERSONALIZAÇÃO DAS CAIXAS DE TEXTO (INPUT TEXT)-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DAS CAIXAS DE TEXTO (INPUT TEXT)-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DAS CAIXAS DE TEXTO (INPUT TEXT)-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DAS CAIXAS DE TEXTO (INPUT TEXT)-------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO DAS CAIXAS DE TEXTO (INPUT TEXT)-------------------------------------*/
input[type="text"] {
    width: 96%;
    height: 25px;
    margin: 5px;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: #000080;
}

/*-----------------------------------------PERSONALIZAÇÃO BOTÕES-------------------------------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO BOTÕES------------------------------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO BOTÕES-----------------------------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO BOTÕES----------------------------------------------------------*/
/*-----------------------------------------PERSONALIZAÇÃO BOTÕES---------------------------------------------------------*/
input[type="submit"],  input[type="reset"],  input[type="button"]{
    width: 20%;
    height: 90px;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: #000080;
}

#btnRels{
	height: 50px;
	width: 52px;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
    background-color: #000080;
    border-radius: 10px;
}